:root {
  --background-color: #282a35;
  --text-color: #ddd;
  --link-color: #fff4a3;
  --img-bg-color: #ddd;
  --button-color: #51427a;
}

h1,
h2,
h3,
h4,
p,
blockquote {
  color: var(--text-color) !important;
}

a,
.markup--anchor,
.markup--p-anchor {
  color: var(--link-color) !important;
}

img {
  background-color: var(--img-bg-color) !important;
}

body,
figcaption,
.mw-page-container,
.mw-header,
.vector-pinned-container,
.vector-dropdown-content,
.navbox,
.navbox-inner,
.navbox-title,
.catlinks,
.navbox-abovebelow,
.vector-menu-heading,
.hatnote,
.cdx-text-input__input, 
.hlist
{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.vector-pinnable-header-toggle-button,
.cdx-button {
  background-color: var(--button-color) !important;
  color: var(--text-color) !important;
}

.mwe-math-element {
  overflow: hidden !important;
  padding: 5px !important;
}

.vector-sticky-pinned-container::after {
  visibility: hidden;
}
